<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作用域插槽</title>
</head>
<body>
    
    <!-- 作用域插槽
    
        如下例子:
        const APP = Vue.createApp({})
        APP.component = ('todo-list',{
            data() {
                return {
                    items:['feed a cat', 'buy milk']
                }
            },

            template:`
                <ul>
                    <li v-for="(item, index) in items">
                        {{ item }}
                    </li>
                </ul>
            
            `
        })

        我们可能想把 {{ item }} 替换为 <slot> 
        这样在使用组件的时候,就可以自定义,而不是只能写个 <todo-list></todo-list>
        比如自定义为
        <todo-list>
            /* 下面的i与span标签会替换slot */
            <i></i>
            <span></span>
        </todo-list>

        要使i与span标签替换slot
        我们将todo-list写为:
        <ul>
            <li v-for="(item, index) in items">
                <slot :item="item"></slot>
            </li>
        </ul>
        写成这样后,我们再在html中写
        <todo-list>
            /* 下面的i与span标签会替换slot */
            <i></i>
            <span></span>
        </todo-list>
        这里的i与span便会代替slot中的内容
        当然前面学过可以设置默认slot内容,你也可以加入默认的内容

        在这个例子中:
        <ul>
            <li v-for="(item, index) in items">
                <slot :item="item"></slot>
            </li>
        </ul>
        :item="item"这句话,
        第一个item指的是slot的
        第二个item是前面v-for中的item
        我们可以根据自己的需要绑定很多attribute到slot上
        <ul>
          <li v-for="( item, index ) in items">
            <slot :item="item" :index="index" :another-attribute="anotherAttribute"></slot>
          </li>
        </ul>
        注意prop与attr的区别,这里:item="item"的第一个item是个attr,
        他的值也就是第二个item是个prop
        绑定到slot元素attr上的被称为插槽prop
        在父级作用域中,我们使用v-slot定义我们提供的插槽prop的名字
        <todo-list>
          <template v-slot:default="slotProps">
            <i class="fas fa-check"></i>
            <span class="green">{{ slotProps.item }}</span>
          </template>
        </todo-list>
        这个例子中slotProps就是包含所有插槽prop的一个对象
        当然只是本例使用slotProps这个名字,你也可以使用你自己喜欢或者习惯的名字
    
    
    -->
    
    

    <script>
        const APP = Vue.createApp({})
        APP.component = ('todo-list',{
            data() {
                return {
                    items:['feed a cat', 'buy milk']
                }
            },

            template:`
                <ul>
                    <li v-for="(item, index) in items">
                        <slot :item="item">
                        </slot>
                    </li>
                </ul>
            
            `
        })


    </script>



</body>
</html>